# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Output files
output/

# Input files
input/**

# Configuration
config.ini

# Pipenv files
Pipfile.lock

# Poetry files
poetry.lock

# UV files
uv.lock

# IDE specific files (optional, but recommended)
.vscode/
.idea/